@using FinalProjectFb.Application.ViewModels
@model UpdateCategoryVM
<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Update Category</h4>
			<form class="forms-sample" method="post">
				<div class="form-group">
					<label asp-for="Icon" for="exampleInputUsername1">Icon</label>
					<input asp-for="Icon" class="form-control" id="exampleInputUsername1" placeholder="Icon">
					<span asp-validation-for="Icon" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Name" for="exampleInputUsername1">Name</label>
					<input asp-for="Name" class="form-control" id="exampleInputUsername1" placeholder="Name">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary mr-2">Submit</button>
				<a asp-action="index" asp-controller="category" class="btn btn-dark">Cancel</a>
			</form>
		</div>
	</div>
</div>
