
@using FinalProjectFb.Domain.Entities
@using FinalProjectFb.ViewModels
@model CreateJobVM

<!doctype html>
<html lang="en">
<head>
	<title>Contact Form 03</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/assets/job/css/style.css">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
				
						<div class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Create Job</h3>
									<div id="form-message-warning" class="mb-4"></div>
									<div id="form-message-success" class="mb-4">
										Your message was sent, thank you!
									</div>
                                    <form method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Name">Job Name</label>
                                                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                                                    <span class="text-danger" asp-validation-for="Name"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Photo">Photo</label>
                                                    <input asp-for="Photo" accept="image/*" class="form-control">
                                                    <span class="text-danger" asp-validation-for="Photo"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Requirement">Requirement</label>
                                                    <textarea asp-for="Requirement" class="form-control" placeholder="Requirement"></textarea>
                                                    <span class="text-danger" asp-validation-for="Requirement"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Experience">Experience</label>
                                                    <textarea asp-for="Experience" class="form-control" placeholder="Experience"></textarea>
                                                    <span class="text-danger" asp-validation-for="Experience"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Vacancy">Vacancy</label>
                                                    <input asp-for="Vacancy" type="number" class="form-control" id="vacancyInput" min="1">
                                                    <span class="text-danger" asp-validation-for="Vacancy"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Salary">Salary</label>
                                                    <input asp-for="Salary" type="number" class="form-control" id="salaryInput" min="1">
                                                    <span class="text-danger" asp-validation-for="Salary"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="Deadline">Deadline</label>
                                                    <input asp-for="Deadline" type="date" class="form-control" id="deadlineInput" value=""
                                                           min="{{ DateTime.Now.ToString(" yyyy-MM-dd") }}">
                                                    <span class="text-danger" asp-validation-for="Deadline"></span>
                                                </div>
                                            </div>

                                            <script>
                                                document.getElementById('deadlineInput').addEventListener('input', function () {
                                                    var selectedDate = new Date(this.value);
                                                    var currentDate = new Date();

                                                    if (selectedDate < currentDate) {
                                                        alert('You cannot choose a past date!');

                                                        var today = new Date();
                                                        var formattedToday = today.toISOString().split('T')[0];

                                                        this.value = formattedToday;

                                                        if (this.min !== formattedToday) {
                                                            this.min = formattedToday;
                                                        }
                                                    }
                                                });

                                                document.addEventListener("DOMContentLoaded", function () {
                                                    var today = new Date();
                                                    var formattedToday = today.toISOString().split('T')[0];
                                                    var deadlineInput = document.getElementById('deadlineInput');

                                                    if (deadlineInput.min !== formattedToday) {
                                                        deadlineInput.min = formattedToday;
                                                    }
                                                });
                                            </script>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" asp-for="JobNature">Job Nature</label>
                                                    <input asp-for="JobNature" type="text" class="form-control" placeholder="Job Nature">
                                                    <span class="text-danger" asp-validation-for="JobNature"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))">
                                                        <option disabled selected>Choose Category</option>
                                                    </select>
                                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                </div>
                                            </div><br /><br />
                                           
                                          
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Submit" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img" style="background-image: url(/assets/job/images/jobsearch.jpg);">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/assets/job/js/jquery.min.js"></script>
	<script src="~/assets/job/js/popper.js"></script>
	<script src="~/assets/job/js/bootstrap.min.js"></script>
	<script src="~/assets/job/js/jquery.validate.min.js"></script>
	<script src="~/assets/job/js/main.js"></script>

</body>
</html>

 