@using FinalProjectFb.Application.ViewModels
@using FinalProjectFb.Domain.Entities
@model PaginateVM<Category>

<div id="content-page" class="content-page">
    <div class="container">

        
        @foreach (var item in Model.Items)
        {
            <div class="single-job-items mb-30">

                <div class="job-items">
                    <div class="company-img">
                    </div>
                    <div class="job-tittle">
                        <ul>
                            <li>@item.Name</li>
                            <li><i class="fas fa-map-marker-alt"></i>@item.Jobs.FirstOrDefault()?.Name</li>
                           @*  <li>$@item.Salary</li> *@
                        </ul>
                    </div>
                </div>
                <div class="items-link f-right">
                    @* <a asp-action="detail" asp-controller="job" asp-route-id="@item.Id">@item.JobNature</a> *@
                    <span>
                        @{
                            TimeSpan difference = DateTime.Now - item.CreatedAt;

                            string timedifference = "";
                            if (difference.TotalDays >= 1)
                            {
                                timedifference = $"{(int)difference.TotalDays} days ago";
                            }
                            else if (difference.TotalHours >= 1)
                            {
                                timedifference = $"{(int)difference.TotalHours} hours ago";
                            }
                            else
                            {
                                timedifference = $"{(int)difference.TotalMinutes} minutes ago";
                            }
                        }

                        @timedifference
                    </span>
                </div>
            </div>

        }
        


    </div>
</div>
